.homeCategoriesContainer {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  overflow-x: scroll;
  height: 32vh;
}

.homeCategoriesContainer::-webkit-scrollbar {
  height: 3px;
}

.homeCategoriesContainer::-webkit-scrollbar-track {
  background: #ffffff3f;
}

.homeCategoriesContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.homeCategoriesCards {
  width: 300px;
  height: 25vh;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}

.homeCategoriesCardImageContainer {
  height: 100%;
  width: 300px;
}

.homeCategoriesCardImage {
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.homeCategoriesCardsContentContainer {
  transform: translateY(-100%);
  text-align: center;
  backdrop-filter: blur(10px);
}

.homeCategoriesCardsContent {
  color: #fff;
  font-size: 1.2rem;
}

/* @media (max-width: 630px) {
  .homeCategoriesCards {
    width: 27%;
  }
}
@media (max-width: 500px) {
  .homeCategoriesCards {
    width: 25%;
    height: 17vh;
  }
  .homeCategoriesCardsContent {
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  .homeCategoriesCards {
    width: 23%;
    height: 15vh;
  }
  .homeCategoriesCardsContent {
    font-size: 0.9rem;
  }
}
@media (max-width: 350px) {
  .homeCategoriesCards {
    width: 26%;
    height: 13vh;
  }
} */
