.nftDetailContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 40px 0 40px 0;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px;
}

@media (max-width: 665px) {
  .nftDetailContainer {
    width: 100%;
  }
}
