.nftBuyBidAndSaleContainer {
  margin-top: 40px;
  border: 1px solid #fff;
  width: 80%;
  border-radius: 10px;
  padding: 10px;
}

@media (max-width: 665px) {
  .nftBuyBidAndSaleContainer {
    width: 100%;
  }
}
