.userProfileContainer {
  width: 10%;
}

.userProfileImage {
  width: 100%;
  transform: translateX(100%) translateY(-70%);
  border-radius: 50%;
  border: 1px solid #fff;
}

@media (max-width: 700px) {
  .userProfileContainer {
    width: 15%;
  }
  .userProfileImage {
    transform: translateX(90%) translateY(-70%);
  }
}

@media (max-width: 450px) {
  .userProfileContainer {
    width: 20%;
  }
  .userProfileImage {
    transform: translateX(70%) translateY(-70%);
  }
}
