.categoriesCardsContainer {
  width: 25vw;
  height: 35vh;
  background: #ffffff22;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.categoriesCardsCollectionImgAndCollectionNameContainer {
  display: flex;
  align-items: center;
  margin: 15px 10px 10px 10px;
  gap: 5px;
}

.categoriesCardsCollectionImgContainer {
  /* width: 100%; */
  width: 500px;
  height: 8vh;
}

.categoriesCardsCollectionImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.categoriesCardsCollectionNameContainerMain {
  margin-left: 10px;
}

.categoriesCardsCollectionNameContainer {
  display: flex;
  align-items: center;
}

.categoriesCardsCollectionName {
  color: #fff;
  font-size: 1.2rem;
}

.categoriesCardsCollectionNameVerificationImg {
  width: 5%;
  margin-left: 10px;
}

.categoriesCardsCollectionNumberOfItemsContainer {
  margin-top: 3px;
}

.categoriesCardsCollectionNumberOfItems {
  color: #ffffff94;
}

.categoriesCardsDataContainer {
  margin-left: 10px;
}

.categoriesCardsData {
  color: #fff;
  font-size: 1.1rem;
}

.categoriesCardsImageContainer {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 17vh;
  padding: 5px;
}

.categoriesCardsImage {
  width: 30%;
  height: 100%;
  object-fit: cover;
  margin: 5px;
  border-radius: 10px;
}
