.navContainer {
  display: flex;
  padding: 10px;
  background-color: #ffffff19;
  align-items: center;
  color: #fff;
}

.logoContainer {
  flex: 0.7;
}

.logo {
  width: 40%;
  height: 10vh;
  margin-left: 20px;
}

.searchContainer {
  flex: 1.3;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.searchBar {
  padding: 8px 15px;
  border-radius: 20px;
  width: 100%;
  font-size: 1rem;
  border: none;
}

.searchBar:focus {
  outline: none;
}

.searchIcon {
  width: 5%;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.navUl {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.navItemsLink {
  text-decoration: none;
}

.navItems {
  margin: 20px;
  list-style: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}

.signInContainer {
  flex: 1;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.signIn {
  width: 100%;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  background: hsla(0, 0%, 99%, 0.11);
  border: 1px solid #ffffff11;
}

.navResponsiveBtn {
  display: none;
}

.navProfileIcon {
  font-size: 2rem;
  color: #fff;
  margin-left: 20px;
}

@media (max-width: 1000px) {
  .navResponsiveBtnContainer {
    flex: 1;
  }

  .navResponsiveBtn {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.3rem;
  }

  .logoContainer {
    flex: 2;
  }

  .logo {
    font-size: 1.2rem;
  }

  .navUl {
    display: none;
  }

  .searchContainer {
    flex: 3;
  }

  .searchBar {
    padding: 5px;
    font-size: 0.9rem;
  }

  .signIn {
    display: none;
  }
}

@media (max-width: 550px) {
  .signIn {
    width: 80%;
  }

  .searchIcon {
    width: 10%;
  }
}
