.priceUnderContainerMain {
  margin-left: 20px;
}

.priceUnderCardsContainer {
  display: flex;
  justify-content: flex-start;
}

.priceUnderContainerHr {
  margin: 10px 5px 20px 5px;
  border-color: #ffffffa1;
}
