.nftCardAudioContainerMain {
  height: 250px;
  width: 250px;
  cursor: pointer;
}

.nftCardAudioContainer {
  background: url("https://w0.peakpx.com/wallpaper/224/1002/HD-wallpaper-music-music-symbol-thumbnail.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.playPauseBtn {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 5px 10px;
  background-color: #00000075;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.nftAudioCardPlayPauseIcon {
  color: #fff;
  font-size: 2.5rem;
}
