* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: #030303;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}
